.solar-event-details {
  background-color: #252b4d;
  color: #ffffff;
  padding: 20px;
  border-radius: 10px;
}

h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.event-info {
  margin-bottom: 20px;
}

.event-info p {
  margin: 10px 0;
}

.info-label {
  font-weight: bold;
}

.more-info p {
  margin: 10px 0;
}

.nasa-link {
  color: #ffffff;
  text-decoration: none;
  background-color: #0476d9;
  padding: 10px 20px;
  border-radius: 5px;
  display: inline-block;
  transition: background-color 0.3s ease;
  margin: 10px 0px;
}
.back{
    color: #ffffff;
    text-decoration: none;
    background-color: #0476d9;
    padding: 10px 20px;
    border-radius: 5px;
    display: inline-block;
    transition: background-color 0.3s ease;
    margin: 10px 0px;
    position: fixed;
    bottom: 10px;
    left: 10px;
}

.nasa-link:hover {
  background-color: #034a99;
}

.event-icon {
  margin-top: 10px;
}

.eventIcon {
    display: flex;
    text-decoration: none;
  transition: background-color 0.3s ease;
  margin-top: 10px;
  padding-top: 10px;
}

.eventIcon:hover {
  background-color: #034a99;
}

.eventIcon img {
  width: 50px;
  height: 50px;
}


.eventIcon .eventDateLine {
  margin-bottom: 4px;
}

.eventIcon .eventDate {
    font-size: 14px;
    text-align: center;
    margin-left: 10px; 
  }
  
  .center {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .table {
    width: 100%;
    margin: 0px 30px;
    background-color: #33434f50;
    border-radius: 15px;
    table-layout: fixed;
  }
  .table th {
    background-color: #33434f;
    padding: 2px 5px;
    border: 2px solid #33434f;
  }
  .table td {
    padding: 2px 15px;
    border: 2px solid #33434f80;
    word-wrap: break-word;
  }