header {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  background-color: #04040440;
  font-size: 20px;
}

.useInfo p {
  margin: 0;
  text-align: center;
}

.dateForm {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
  margin: 10px auto;
  padding: 10px;
  background-color: #33434faa;
}
.dateForm > div {
  display: flex;
  gap: 5px;
}
.dateForm > button {
  color: white;
  background-color: #33434f;
}
