.header {
  text-align: center;
  background-color: #33434faa;
  border-radius: 15px;
}
.header h1, .header h2 {
  margin: 0px;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.table {
  width: 100%;
  margin: 0px 30px;
  background-color: #33434f50;
  border-radius: 15px;
  table-layout: fixed;
}
.table th {
  background-color: #33434f;
  padding: 2px 5px;
  border: 2px solid #33434f;
}
.table td {
  padding: 2px 15px;
  border: 2px solid #33434f80;
  word-wrap: break-word;
}
button {
  background-color: #33434f;
  color: white;
  padding: 5px 20px;
  margin: 20px;
}